<section class="slider container d-flex justify-content-center px-sm-0">
  <div class="carousel my-5">
    <div class="slider">
      <div>
        <div class="banner banner_1 p-2 p-md-5 d-flex flex-column justify-content-center">
          <div class="p-1 p-sm-4 d-flex d-sm-block flex-column text-center text-sm-start align-items-center">
            <div class="fw-bold display-5 m-sm-5 w-75">Скидки на травяные чаи</div>
            <div class="fs-5 m-sm-5 py-3 py-sm-4 w-75">Узнай все подробности, заполнив заявку</div>
            <button [routerLink]="'/products'" class="btn btn-primary mx-sm-5 mb-md-5 px-5">Каталог</button>
          </div>
        </div>
      </div>
      <div>
        <div class="banner banner_2 p-2 p-md-5 d-flex flex-column justify-content-center">
          <div class="p-1 p-sm-4 d-flex d-sm-block flex-column text-center text-sm-start align-items-center">
            <div class="row">
              <div class="col-12 col-lg-6 fw-bold display-5 my-sm-5 ms-sm-5 px-5 pb-3 pb-sm-0 ps-sm-3">
                <span class="highlighted-text">Закажи три пачки чая и получи подарок</span>
              </div>
            </div>
            <button [routerLink]="'/products'" class="btn btn-primary mx-sm-5 mb-md-5 px-5">Каталог</button>
          </div>
        </div>
      </div>
      <div>
        <div class="banner banner_3 p-2 p-md-5 d-flex flex-column justify-content-center">
          <div class="p-1 p-sm-4 d-flex d-sm-block flex-column text-center text-sm-start align-items-center">
            <div class="row">
              <div class="col-12 col-lg-7 fw-bold display-5 my-sm-5 ms-sm-5 px-5 pb-3 pb-sm-0 ps-sm-3">
                <span class="highlighted-text">Попробуй нашу новинку — ягодный чай</span>
              </div>
            </div>
            <button [routerLink]="'/products'" class="btn btn-primary mx-sm-5 mb-md-5 px-5">Каталог</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="faq">
  <div class="container-xxl my-5">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9 col-sm-10">
        <div class='h2 fw-bold mb-5 mt-4 text-center'>Ответы на часто задаваемые вопросы</div>
        <div id="accordion" class="d-flex flex-column">
          <h3 class="bg-primary p-4 fw-bold border border-primary rounded-3 d-flex flex-row-reverse justify-content-between">
            <span>Собираете ли вы подарочные боксы?</span>
          </h3>
          <div class="bg-transparent border border-0 px-4">
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
            стоимость!
          </div>
          <h3 class="bg-primary p-4 fw-bold border border-primary rounded-3 d-flex flex-row-reverse justify-content-between">
            Сколько у вас разновидностей
            чая?</h3>
          <div class="bg-transparent border border-0 px-4">
            На данный момент у нас в ассортименте более 40 разновидностей чая и мы по постоянно пополняем
            коллекции
          </div>
          <h3 class="bg-primary p-4 fw-bold border border-primary rounded-3 d-flex flex-row-reverse justify-content-between">
            В какой срок осуществляется
            доставка?</h3>
          <div class="bg-transparent border border-0 px-4">Доставка занимает в среднем 3 дня с момента оплаты,
            максимальный срок доставки - 7 дней
          </div>
          <h3 class="bg-primary p-4 fw-bold border border-primary rounded-3 d-flex flex-row-reverse justify-content-between">
            У вас обновляется
            ассортимент?</h3>
          <div class="bg-transparent border border-0 px-4">Да, мы регулярно пополняем наш ассортимент</div>
          <h3 class="bg-primary p-4 fw-bold border border-primary rounded-3 d-flex flex-row-reverse justify-content-between">
            Какого объема у вас пачки
            чая?</h3>
          <div class="bg-transparent border border-0 px-4">Готовые пачки рассыпного чая 50 г, 100 г. и 200 г.
            Пачки
            с чайными пакетами по 25, 50 и 100 пакетиков.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
