<header-component></header-component>
<div  class="content">
  <router-outlet></router-outlet>
</div>
<footer-component></footer-component>



<section class="order-complete d-none">
  <div class="h3 fw-bold mb-5 text-center mt-4 text-success-emphasis">
    Спасибо за заказ. Мы свяжемся с вами в ближайшее время!
  </div>
</section>

<div id="details" class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center col-11">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
